<template>
  <div class="submitform">
    <h1 class = "text-center">Add Company</h1>
    <div v-if="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required v-model="company.name" name="name">
        </div>
        <button v-on:click="saveCompany" class="btn btn-success">Submit</button>
    </div>
</div>
</template>

<script>
import http from "../http-common";

export default {
  name: "add-company",
  data() {
    return {
      company: {
        id: 0,
        name: "",
      },
      submitted: false
    };
  },
  methods: {
    saveCompany() {
      var data = {
        name: this.company.name
      };

      http.post("/companies", data)
        .then(response => {
          this.company.id = response.data.id;
          alert("Response: " + response.status)
          this.$router.go(-1);
        })
        .catch(e => {
          alert("Error: " + e)
        });
    }
  }
};
</script>

<style>
.submitform {
  max-width: 300px;
  margin: auto;
}
</style>