<template>
    <div class = "container">
        <h1 class = "text-center">Companies List</h1>
        <table class = "table table-stripper">
            <thead>
                <th>Company Id</th>
                <th>Company Name</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr v-for = "company in companies" v-bind:key = "company.id">
                    <td>{{company.id}}</td>
                    <td>
                        <router-link :to="`/companies/${company.id}`"> {{company.name}}</router-link> 
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" @click="deleteCompany(company.id)">Delete</button>
                       <!-- <router-link :to="`/companies/${company.id}/delete`">Delete</router-link>  -->
                    </td>
                </tr>
            </tbody>    
        </table>
    </div>
</template>

<script>
import CompanyService from '../services/CompanyService';
import axios from 'axios';

    export default {
        name: 'Companies',
        data(){
            return {
                companies : []
            }
        },
        methods: {
            getCompanies() {
                CompanyService.getCompanies().then((response) => {
                    this.companies = response.data;
                });
            },
            deleteCompany(companyId) {
                axios.delete(`http://localhost:8080/companies/${companyId}`)
                    .then(response => {
                         alert('Respone: ' + response.status)
                    }).catch( function(error) {
                        alert(error)
                     });
                    this.$router.go();
            }
        },
        created() {
            this.getCompanies();
        }
    }
</script>