<template>
    <div class = "container">
       <h1 class = "text-center">Company  {{company.id}} - {{company.name}}</h1>
      <form method="get" name="form1">
        <select style="background-color: #E2F188" id="method" >
          <option selected="selected">Select salary statistics</option>
          <option value="average">average</option>
          <option value="sum">sum</option>
        </select>
      </form>
      <div id="result"></div>

      <table class = "table table-stripper">
            <thead>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Surname</th>
                <th>Employee Email</th>
                <th>Employee Address</th>
                <th>Employee Salary</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr v-for = "employee in company.employees" v-bind:key = "employee.id">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.surname}}</td>
                    <td> <router-link :to="`/employees/${employee.id}`">{{employee.email}}</router-link></td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.salary}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" style="margin-right: 2px" @click="deleteEmployee(employee.id)">Delete</button>
                        <button class="btn btn-danger btn-sm" style="margin-right: 2px" @click="editEmployee(employee.id)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import CompanyService from '../services/CompanyService';
import axios from 'axios';
import $ from 'jquery'

    export default {
        name: 'Company',
        data(){
            return {
                company : {}
            }
        },
        mounted() {
          var pathname= $(location).attr('pathname');
          var id = pathname.substring(pathname.lastIndexOf('/') + 1);
          $(function(){
            $("#method").change(function(){
              let method = $('#method option:selected').val();
              CompanyService.getSalaryStats(id, method).catch(() => {
                $("#result").html("Cannot calculate average!");
              }).then((response) => {
                  $("#result").html("Salary " + method + ": " + response.data.salary);
              });
            });
          });
        },
        methods: {
            getCompany() {
                CompanyService.getCompany(this.$route.params.id).then((response) => {
                    this.company = response.data;
                });
            },
            deleteEmployee(empId) {
                axios.delete(`http://localhost:8080/employees/${empId}`)
                    .then(response => {
                         alert('Respone: ' + response.status)
                    }).catch( function(error) {
                        alert(error)
                     });
                    this.$router.go();
            },
            editEmployee(empId) {
                    this.$router.push(`/editemployee/${empId}`);
            }
        },
        created() {
            this.getCompany()
        }
    }
</script>
