<template>
  <div class="submitform">
    <div v-if="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required v-model="employee.name" name="name">
        </div>
        <div class="form-group">
          <label for="name">Surname</label>
          <input type="text" class="form-control" id="surname" required v-model="employee.surname" name="surname">
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" id="email" required v-model="employee.email" name="email">
        </div>
        <div class="form-group">
          <label for="name">Address</label>
          <input type="text" class="form-control" id="address" required v-model="employee.address" name="address">
        </div>
        <div class="form-group">
          <label for="name">Salary</label>
          <input type="text" class="form-control" id="nsalaryame" required v-model="employee.salary" name="salary">
        </div>
        <div class="form-group">
          <label for="name">Company Id</label>
          <input type="text" class="form-control" id="company_id" required v-model="employee.company_id" name="company_id">
        </div>
        <button v-on:click="saveEmployee" class="btn btn-success">Submit</button>
    </div>
</div>
</template>

<script>
import http from "../http-common";

export default {
  name: "add-employee",
  data() {
    return {
      employee: {
        name: "",
        surname: "",
        email: "",
        address: "",
        salary: 0,
        company_id: 0
      }
    };
  },
  methods: {
    saveEmployee() {
      var data = {
        name: this.employee.name,
        surname: this.employee.surname,
        email: this.employee.email,
        address: this.employee.address,
        salary: this.employee.salary,
        company_id: this.employee.company_id
      };

      http.patch(`/employees/${this.$route.params.id}`, data)
        .then(response => {
          alert("Response: " + response.status)
          this.$router.go(-1);
        })
        .catch(e => {
          alert("Error: " + e)
        });
    }
  }
};
</script>

<style>
.submitform {
  max-width: 300px;
  margin: auto;
}
</style>