<template>
    <div class = "container">
        <h1 class = "text-center">Employee  {{employee.id}} - {{employee.name}} {{employee.surname}}</h1>
        <table class = "table table-stripper">
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Surname</th>
                <th>Employee Email</th>
                <th>Employee Address</th>
                <th>Employee Salary</th>
                <th>Employee Company Id</th>
            </tr>
            <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.surname}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.salary}}</td>
              <td>
                <router-link :to="`/companies/${employee.company_id}`">{{employee.company_id}}</router-link>
              </td>
            </tr>
        </table>
    </div>
</template>

<script>
import EmployeeService from '../services/EmployeeService'
    export default {
        name: 'Employee',
        data(){
            return {
                employee : {}
            }
        },
        methods: {
            getEmployee() {
                EmployeeService.getEmployee((this.$route.params.id)).then((response) => {
                    this.employee = response.data;
                });
            }
        },
        created() {
            this.getEmployee()
        }
    }
</script>
