<template>
    <div class = "container">
        <h1 class = "text-center">Employees List</h1>
        <table class = "table table-stripper">
            <thead>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Surname</th>
                <th>Employee Email</th>
                <th>Employee Address</th>
                <th>Employee Salary</th>
                <th>Employee Company Id</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr v-for = "employee in employees" v-bind:key = "employee.id">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.surname}}</td>
                    <td> 
                        <router-link :to="`/employees/${employee.id}`">{{employee.email}}</router-link>
                    </td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.salary}}</td>
                  <td>
                    <router-link :to="`/companies/${employee.company_id}`">{{employee.company_id}}</router-link>
                  </td>
                    <td>
                        <button class="btn btn-danger btn-sm" style="margin-right: 2px" @click="deleteEmployee(employee.id)">Delete</button>
                        <button class="btn btn-danger btn-sm" style="margin-right: 2px" @click="editEmployee(employee.id)">Edit</button>
                    </td>
                </tr>
            </tbody>    
        </table>
    </div>
</template>

<script>
import EmployeeService from '../services/EmployeeService';
import axios from 'axios';
    export default {
        name: 'Employees',
        data(){
            return {
                employees : []
            }
        },
        methods: {
            getEmployees() {
                EmployeeService.getEmployees().then((response) => {
                    this.employees = response.data;
                });
            },
            deleteEmployee(empId) {
                axios.delete(`http://localhost:8080/employees/${empId}`)
                   .then(response => {
                         alert('Respone: ' + response.status)
                    }).catch( function(error) {
                        alert(error)
                     });
                    this.$router.go();
            },
            editEmployee(empId) {
                    this.$router.push(`/editemployee/${empId}`);
            }
        },
        created() {
            this.getEmployees()
        }
    }
</script>
