<!--<template>-->
<!--  <div>-->
<!--    <h1>LOGIN</h1>-->
<!--    <form @submit="login">-->
<!--      <input v-model="username" placeholder="username" />-->
<!--      <br />-->
<!--      <br />-->
<!--      <input v-model="password" placeholder="password" type="password" />-->
<!--      <br />-->
<!--      <br />-->
<!--      <button class="btn btn-success" type="submit">Login</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</template>-->

<!--<script>-->
<!--import { mapMutations } from "vuex";-->
<!--export default {-->
<!--  data: () => {-->
<!--    return {-->
<!--      username: "",-->
<!--      password: "",-->
<!--    };-->
<!--  },-->
<!--  methods: {-->
<!--    ...mapMutations(["setUser", "setToken"]),-->
<!--    async login(e) {-->
<!--      e.preventDefault();-->
<!--      const response = await fetch("http://localhost:8080", {-->
<!--        method: "POST",-->
<!--        headers: {-->
<!--          "Content-Type": "application/json",-->
<!--        },-->
<!--        body: JSON.stringify({-->
<!--          username: this.username,-->
<!--          password: this.password,-->
<!--        }),-->
<!--      });-->
<!--      const { user, token } = await response.json();-->
<!--      this.setUser(user);-->
<!--      this.setToken(token);-->
<!--      this.$router.push("/");-->
<!--    },-->
<!--  },-->
<!--};-->
<!--</script>-->