<template>
  <div id="app">
    <notifications group="foo" />
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand" style="margin-left: 35%">Lambda</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/companies" class="nav-link">Company List</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/addcompany" class="nav-link">Add Company</router-link>
        </li>
          <li class="nav-item">
          <router-link to="/employees" class="nav-link">Employee List</router-link>
        </li>
          <li class="nav-item">
          <router-link to="/addemployee" class="nav-link">Add Employee</router-link>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<script>
import EmployeeList from  './components/EmployeeList.vue'
import CompanyList from  './components/CompanyList.vue'
export default {
  name: 'App',
  components: {
    EmployeeList,
    CompanyList
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
